.login {
  background-color: darken($listy-main, 7%);
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Ubuntu', 'Arial', sans-serif;
  cursor: pointer;
  margin-left: 15px;
}