html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.todo-main {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-section {
  margin-top: 100px;
  width: 900px;

  ul {
    display: flex;
    flex-direction: column;
  }
}

.list-input {
  padding:20px;

  input {
    width: 100%;
    padding: 20px;
    outline: 0;
    border-radius: 6px;
    border: 4px solid $listy-light-gray;
    font-size: 22px;
    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 28px;

    &::placeholder {
      font-family: 'Ubuntu', 'Arial', sans-serif;
      font-weight: 300;
      font-size: 28px;
      color: #E6E6E6;
    }

    &:hover, &:focus {
      border: 4px solid $listy-main;
    }

  }

}

::selection {
  background: $listy-main;
  color: #fff;
}

.todo-text-area {
  padding: 20px 20px 0 20px;

  .todo-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid $background-gray;
    border-radius: 4px;

    &:hover {
      .todo-delete {
        opacity: 1;
      }
    }

  }

  .todo-item {
    font-weight: 700;
    color: #858585;
    font-size: 32px;
    font-family: 'Ubuntu', 'Arial', sans-serif;
    border: 0;
    background-color: $background-gray;
    flex: 1 1 auto;
    outline: none;

    &:hover {
      outline: 0;
    }

  }

  .todo-check {
    border: 4px solid $listy-light-gray;
    background-size: 20px 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 7px;
    border-radius: 5px;
    align-self: flex-start;

    &:hover {
      border-color: $listy-main;
    }
  }

  .checked {
    background-color: $listy-main;
    border-color: $listy-main;
    background: url('/images/tick.png') no-repeat center center $listy-main;
    background-size: 16px 13px;
  }



  .todo-delete {
    background: url('/images/icon-close.png') no-repeat center center transparent;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
    margin-left: 10px;
  }
}

textarea {
    resize: none;
    overflow: hidden;
}

.blue {
    text-decoration: line-through;
  }
