.todo-main {
	font-size: 18px;
}

.todo-section {
	display: flex;
	margin-top: 100px;

	ul {
		width: 100%;
	}
}

.list-input {
	padding:20px;
	margin-bottom: 20px;

	input {
	width: 100%;
	padding: 20px;
	outline: 0;
	border-radius: 6px;
	border: 4px solid #E6E6E6;
	font-size: 22px;
	font-family: 'Ubuntu', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 28px;
	box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
	
	&::-webkit-input-placeholder {
		font-family: 'Ubuntu', 'Arial', sans-serif;
		font-weight: 300;
		font-size: 28px;
		color: #E6E6E6;
	}

	&:-moz-placeholder { /* Firefox 18- */
		font-family: 'Ubuntu', 'Arial', sans-serif;
		font-weight: 300;
		font-size: 28px;
		color: #E6E6E6;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		font-family: 'Ubuntu', 'Arial', sans-serif;
		font-weight: 300;
		font-size: 28px;
		color: #E6E6E6;
	}

	&:-ms-input-placeholder {  
		font-family: 'Ubuntu', 'Arial', sans-serif;
		font-weight: 300;
		font-size: 28px;
		color: #E6E6E6;
	}

	&:hover, &:focus {
		border: 4px solid $listy-main;
	}

	}

}

::selection {
  background: $listy-main;
  color: #fff;
}
::-moz-selection {
  background: $listy-main;
  color: #fff;
}

.todo-text-area {
	
	.todo-text-container {
		display: flex;
		align-items: center;
		padding: 20px;
	}

	.todo-item {
		font-weight: 700;
		color: #858585;
		font-size: 35px;
		width: 90%;
	}


	.todo-delete {
		background: url('/images/icon-close.png') no-repeat center center transparent;
		background-size: 20px 20px;
		width: 20px;
		height: 20px;
		display: inline-block;
		width: 10%;
		cursor: pointer;
	}
}
