nav {
  background-color: $listy-main;
  height:4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .header-logo {
    height: 40px;
  }

  .header-login {
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
  }

  .dropdown {
    position: absolute;
    right: 1px;
    bottom: -70px;
    background-color: #000;
    padding: 9px 0px;
    border-radius: 3px;
    background-color: #fff;
    
    a {
      display: block;
      padding: 10px 36px;
      cursor: pointer;
      color: black;
      
      &:hover {
        color: $listy-main;
      }
    }
  }

  .dropdown:before {
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #fff transparent;
    border-width: 0 .5em 11px;
    bottom: 54px;
    content: "";
    display: block;
    left: 99.5px;
    position: absolute;
    z-index: 99;
  }

}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}