nav {
  background-color: $listy-main;
  height:4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;

  .header-logo {
    height: 40px;
  }

  .header-login {
    color: #fff;
    display: flex;
    align-items: center;
  }

  .dd-menu {
    position: absolute;
    right: 20px;
    bottom: -59px;
    background-color: $background-gray;
  }

}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}