body {
	background-color: #F9F9F9;
	font-family: 'Ubuntu', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 18px;
           /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}

.container {
	width: 700px;
	margin: 0 auto;
	padding: 20px;

}