<!doctype html>
<html lang="en" ng-app="listy">

  <head>
    <title>Listy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css">
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
  </head>

  <body ng-class="{ 'loginScreen': !authData  }" ng-controller="ListyCtrl">

    <!-------- Login Screen -------->
    <div ng-if="!authData">
      <section class="home-screen">
        <img class="home-screen-logo" src="images/logo.png">
        <button class="login" ng-click="login()">Login with Google</button>
      </section>
    </div>


    <!-------- Main App -------->
    <nav ng-if="authData">
      <img class="header-logo" src="images/logo.png" />
      <div class="header-login" >
        <a>Hi {{displayName()}}</a>
        <img ng-click="isActive = !isActive" ng-init="isActive = false" class="profile-photo" ng-src="{{profilePic()}}" />
      </div>
      <div ng-class="{'hide': !isActive, 'show': isActive}" class="dd-menu">
        <a ng-click="logout()">Logout</a>
      </div>
    </nav>

    <main class="todo-main" ng-if="authData">
      <section class="todo-section">
        <ul>
          <li class="todo-input-area">
            <form ng-submit="addTodo()">
              <div class="list-input">
                <input type="text" placeholder='I need to...' ng-model="newTodo.text"></input>
              </div>
            </form>
          </li>
          <li class="todo-text-area" ng-repeat="todo in todos track by todo.$id">
            <div class="todo-text-container">
              <span ng-click="checkTodo(todo)" ng-class="{'checked': todo.checked}" class="todo-check"></span>
              <textarea ng-class="{'blue' : todo.checked}" msd-elastic rows="1" class="todo-item msd-elastic" ng-model="todo.text" ng-change="todos.$save(todo)"></textarea>
              <span class="todo-delete" ng-click="todos.$remove(todo)"></span>
            </div>
          </li>
        </ul>
      </section>
    </main>

    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-elastic/elastic.js"></script>
    <script src="components/firebase/firebase.js"></script>
    <script src="components/angularfire/dist/angularfire.min.js"></script>
    <script src="app.js"></script>

  </body>

</html>
